<html> 
<head>
    <h1>Discussion Page</h1>
</head>

<body>
	
	<hr> 

	
	<div> {{question.question}} </div>
	<div> Yes: {{question.yes}}</div>
	<div> No: {{question.no}}</div>
	<br>

	<form method = "post">
		<label>
			<div> Submit a comment:</div>
			<input type = "text" name = "comment" value = {{comment}}>
		</label>
			<input type = "hidden" name = "key" value = {{question.key}}>
			<input type = "submit" value = "Comment"> 


	</form>


	{% for comment in question.discussion %}
       	<li>{{comment}}</li>
    {% endfor %}
	
</body>

</html>