<html> 
<head>AskCharlotte99.com</head> 

<body> 
	<p> "Welcome to AskCharlotte99.com"</p> 

	<p>
	<a href="/newpost">Click here</a> to create a new poll. 
	</p>

	{% for poll in polls %}	
	<div>
		<div>{{poll.question}}</div>
		<form method= "post">
		<div>Yes: {{poll.yes}}  No: {{poll.no}}</div>
		<div>{{poll.created}}</div>
		<input type="radio" name="vote" value="yes">Yes 
			<input type="radio" name="vote" value="no">No
		<input type = "hidden" name ="key" value ={{poll.key()}}>
		<input type = "submit" value = "vote"> 
		</form>
		<br>
		<br>
	</div>
	{% endfor %}
	</form> 
</body>


</html> 